* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.rotating-pizza {
    animation: spin 15s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #101314;
    position: relative;
    z-index: 1001; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-toggler {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #DDDBCB;
    position: relative;
    margin-bottom: 4px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    width: 24px;
    height: 2px;
    background-color: #008080;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    bottom: -8px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eed0d0;
}

.rounded-logo {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: #f8f9fa; 
    border: 2px solid #007bff;
    margin-right: 10px;
}

.rounded-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF; 
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    font-family: Montserrat;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff;
}

/* CSS Bagian Home */
.hero {
    padding: 90px 15% 80px;
    text-align: center;
    background-color: rgb(224, 217, 217);
    color: #302e29;
}

.hero h2 {
    font-size: 4.5rem;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.hero h2 span {
    color: #ff9100;
    font-family: Montserrat;
}

.hero p {
    font-size: 1.1rem;
    color: #858585;
    margin-bottom: 30px;
    font-family: Montserrat;
}

.hero img {
    max-width: 50%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.hero .description {
    margin-bottom: 30px;
}

.hero .description p {
    font-size: 1.1rem;
    color: #858585;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero button {
    padding: 14px 26px;
    background-color: #ff9100;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #27AE60;
}

/* Footer CSS */
footer {
    background-color: #050505;
    color: #858585;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container {
    font-family: Montserrat;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .hero {
        padding: 30px 10px;
    }

    .hero .description {
        font-size: 1rem;
    }

    .hero button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .promo .menu-item {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 20px 10px;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .hero .description {
        font-size: 0.9rem;
    }

    .hero button {
        padding: 8px 16px;
        font-size: 0.8rem;
    }

    .promo h2,
    #about h2,
    #contact h2 {
        font-size: 1.5rem;
    }

    .promo .menu-item {
        padding: 15px;
        font-size: 0.8rem;
    }
}

/*Responsive Navbar Setting*/
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #2C3E50;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 20px;
    }

    .navbar-collapse.open {
        display: flex;
    }

    .navbar-nav {
        flex-direction: column; 
    }

    .nav-item {
        margin: 10px 0;
    }

    .logo-text {
        display: none;
    }

    .rounded-logo {
        margin-right: 10px;
    }
}

